.item-cell{
  display:block;
  position:relative;
  width:48px;
  height:48px;
  border:7px solid transparent;
  -webkit-border-image: url(img/item_cell.png) 4 fill space; /* Safari 3.1-5 */
  -o-border-image: url(img/item_cell.png) 4 fill space; /* Opera 11-12.1 */
  border-image: url(img/item_cell.png) 4 fill repeat;
  border-image-width:10px;
}
.item-num-1:after{ 
content:"1"; 
} 
.item-num-2:after{ 
content:"2"; 
} 
.item-num-3:after{ 
content:"3"; 
} 
.item-num-4:after{ 
content:"4"; 
} 
.item-num-5:after{ 
content:"5"; 
} 
.item-num-6:after{ 
content:"6"; 
} 
.item-num-7:after{ 
content:"7"; 
} 
.item-num-8:after{ 
content:"8"; 
} 
.item-num-9:after{ 
content:"9"; 
} 
.item-num-10:after{ 
content:"10"; 
} 
.item-num-11:after{ 
content:"11"; 
} 
.item-num-12:after{ 
content:"12"; 
} 
.item-num-13:after{ 
content:"13"; 
} 
.item-num-14:after{ 
content:"14"; 
} 
.item-num-15:after{ 
content:"15"; 
} 
.item-num-16:after{ 
content:"16"; 
} 
.item-num-17:after{ 
content:"17"; 
} 
.item-num-18:after{ 
content:"18"; 
} 
.item-num-19:after{ 
content:"19"; 
} 
.item-num-20:after{ 
content:"20"; 
} 
.item-num-21:after{ 
content:"21"; 
} 
.item-num-22:after{ 
content:"22"; 
} 
.item-num-23:after{ 
content:"23"; 
} 
.item-num-24:after{ 
content:"24"; 
} 
.item-num-25:after{ 
content:"25"; 
} 
.item-num-26:after{ 
content:"26"; 
} 
.item-num-27:after{ 
content:"27"; 
} 
.item-num-28:after{ 
content:"28"; 
} 
.item-num-29:after{ 
content:"29"; 
} 
.item-num-30:after{ 
content:"30"; 
} 
.item-num-31:after{ 
content:"31"; 
} 
.item-num-32:after{ 
content:"32"; 
} 
.item-num-33:after{ 
content:"33"; 
} 
.item-num-34:after{ 
content:"34"; 
} 
.item-num-35:after{ 
content:"35"; 
} 
.item-num-36:after{ 
content:"36"; 
} 
.item-num-37:after{ 
content:"37"; 
} 
.item-num-38:after{ 
content:"38"; 
} 
.item-num-39:after{ 
content:"39"; 
} 
.item-num-40:after{ 
content:"40"; 
} 
.item-num-41:after{ 
content:"41"; 
} 
.item-num-42:after{ 
content:"42"; 
} 
.item-num-43:after{ 
content:"43"; 
} 
.item-num-44:after{ 
content:"44"; 
} 
.item-num-45:after{ 
content:"45"; 
} 
.item-num-46:after{ 
content:"46"; 
} 
.item-num-47:after{ 
content:"47"; 
} 
.item-num-48:after{ 
content:"48"; 
} 
.item-num-49:after{ 
content:"49"; 
} 
.item-num-50:after{ 
content:"50"; 
} 
.item-num-51:after{ 
content:"51"; 
} 
.item-num-52:after{ 
content:"52"; 
} 
.item-num-53:after{ 
content:"53"; 
} 
.item-num-54:after{ 
content:"54"; 
} 
.item-num-55:after{ 
content:"55"; 
} 
.item-num-56:after{ 
content:"56"; 
} 
.item-num-57:after{ 
content:"57"; 
} 
.item-num-58:after{ 
content:"58"; 
} 
.item-num-59:after{ 
content:"59"; 
} 
.item-num-60:after{ 
content:"60"; 
} 
.item-num-61:after{ 
content:"61"; 
} 
.item-num-62:after{ 
content:"62"; 
} 
.item-num-63:after{ 
content:"63"; 
} 
.item-num-64:after{ 
content:"64"; 
} 
.item-num-1:after,.item-num-2:after,.item-num-3:after,.item-num-4:after,.item-num-5:after,.item-num-6:after,.item-num-7:after,.item-num-8:after,.item-num-9:after,.item-num-10:after,.item-num-11:after,.item-num-12:after,.item-num-13:after,.item-num-14:after,.item-num-15:after,.item-num-16:after,.item-num-17:after,.item-num-18:after,.item-num-19:after,.item-num-20:after,.item-num-21:after,.item-num-22:after,.item-num-23:after,.item-num-24:after,.item-num-25:after,.item-num-26:after,.item-num-27:after,.item-num-28:after,.item-num-29:after,.item-num-30:after,.item-num-31:after,.item-num-32:after,.item-num-33:after,.item-num-34:after,.item-num-35:after,.item-num-36:after,.item-num-37:after,.item-num-38:after,.item-num-39:after,.item-num-40:after,.item-num-41:after,.item-num-42:after,.item-num-43:after,.item-num-44:after,.item-num-45:after,.item-num-46:after,.item-num-47:after,.item-num-48:after,.item-num-49:after,.item-num-50:after,.item-num-51:after,.item-num-52:after,.item-num-53:after,.item-num-54:after,.item-num-55:after,.item-num-56:after,.item-num-57:after,.item-num-58:after,.item-num-59:after,.item-num-60:after,.item-num-61:after,.item-num-62:after,.item-num-63:after,.item-num-64:after{
  position:absolute;
  right:-5px;
  bottom:-6px;
  font-size:24px;
  color:#fff;
  text-shadow:3px 3px 0px #555;
}
.item:before{
  content:"";
  display:block;
  width:32px;
  height:32px;
  background-size:100% 100%;
}
