.container{
  padding-left:10px;
  padding-right:10px;
  margin-right: auto;
  margin-left: auto;
}
div{
  //border:1px solid Red;
}
.row{
  width:100%;
  display:flex;
  display: -webkit-flex; /* Safari */
  flex-direction: row;
  flex-wrap:wrap;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
 width:100%;
}
/* 超小屏幕（手机，小于 768px */
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) { 
.col-sm-12 {
  width: 100%;
}
.col-sm-11 {
  width: 91.66666667%;
}
.col-sm-10 {
  width: 83.33333333%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-8 {
  width: 66.66666667%;
}
.col-sm-7 {
  width: 58.33333333%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-5 {
  width: 41.66666667%;
}
.col-sm-4 {
  width: 33.33333333%;
}
.col-sm-3 {
  width: 25%;
}
.col-sm-2 {
  width: 16.66666667%;
}
.col-sm-1 {
  width: 8.33333333%;
}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) { 
.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  .col-lg-12 {
  width: 100%;
}
.col-lg-11 {
  width: 91.66666667%;
}
.col-lg-10 {
  width: 83.33333333%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-8 {
  width: 66.66666667%;
}
.col-lg-7 {
  width: 58.33333333%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-5 {
  width: 41.66666667%;
}
.col-lg-4 {
  width: 33.33333333%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-2 {
  width: 16.66666667%;
}
.col-lg-1 {
  width: 8.33333333%;
}
}

/*text color*/
.text-black{
  color:#000;
}
.text-darkBlue{
  color:#0000AA;
}
.text-darkGreen{
  color:#00AA00;
}
.text-darkAqua{
  color:#00AAAA;
}
.text-darkRed{
  color:#AA0000;
}
.text-darkPurple{
  color:#AA00AA;
}
.text-gold{
  color:#FFAA00;
}
.text-gray{
  color:#AAAAAA;
}
.text-darkGray{
  color:#555555;
}
.text-blue{
  color:#5555FF;
}
.text-green{
  color:#55FF55;
}
.text-aqua{
  color:#55FFFF;
}
.text-red{
  color:#ff5555;
}
.text-lightPurple{
  color:#ff55ff;
}
.text-yellow{
  color:#ffff55;
}
.text-white{
  color:#ffffff;
}
/* text style*/
.text-bold{
  font-weight:600;
}
.text-sk{
  text-decoration:line-through ;
}
.text-ul{
text-decoration:underline;
}
.text-it{
  font-style:italic;
}
.text-left{
  text-align:left;
}
.text-center{
  text-align:center;
}
.text-right{
  text-align:right;
}
.row-left{
  justify-content:flex-start;
}
.row-righr{
  justify-content:flex-end;
 }
 .row-center{
   justify-content:center;
 }
 .row-between{
   justify-content:space-between;
 }
 .row-around{
   justify-content:space-around;
 }
 .row-top{
   align-items:flex-start;
 }
 .row-buttom{
   align-items:flex-end;
 }
 .row-vertical{
   align-items:center;
 }
 .row-align-top{
   align-content: flex-start;
 }
 .row-align-buttom{
   align-content: flex-end;
 }
 .row-align-center{
   align-content:center;
 }
 .row-align-between{
  align-content:space-between;
 }
 .row-align-around{
   align-content:space-around;
 }
 .col-top{
   align-self:flex-start;
 }
 .col-buttom{
   align-self:flex-end;
 }
 .col-center{
   align-self:center;
 }
 .col-baseline{
   align-self:baseline;
 }
 .col-stretch{
   align-self:stretch;
 }
